<section id="gallery">
    <div class="widthcontroll autoY on-colour pause-anim">
        <h2>GALLERY</h2>
        <div class="adaptive">
        <div class="content full">
            <div class="gallery">
                <a href="<%= require('../images/gallery/full/001.jpg') %>"><img src="<%= require('../images/gallery/thumb/001.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/002.jpg') %>"><img src="<%= require('../images/gallery/thumb/002.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/003.jpg') %>"><img src="<%= require('../images/gallery/thumb/003.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/004.jpg') %>"><img src="<%= require('../images/gallery/thumb/004.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/005.jpg') %>"><img src="<%= require('../images/gallery/thumb/005.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/006.jpg') %>"><img src="<%= require('../images/gallery/thumb/006.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/007.jpg') %>"><img src="<%= require('../images/gallery/thumb/007.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/008.jpg') %>"><img src="<%= require('../images/gallery/thumb/008.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/009.jpg') %>"><img src="<%= require('../images/gallery/thumb/009.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/010.jpg') %>"><img src="<%= require('../images/gallery/thumb/010.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/011.jpg') %>"><img src="<%= require('../images/gallery/thumb/011.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/012.jpg') %>"><img src="<%= require('../images/gallery/thumb/012.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/013.jpg') %>"><img src="<%= require('../images/gallery/thumb/013.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/014.jpg') %>"><img src="<%= require('../images/gallery/thumb/014.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/015.jpg') %>"><img src="<%= require('../images/gallery/thumb/015.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/016.jpg') %>"><img src="<%= require('../images/gallery/thumb/016.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/017.jpg') %>"><img src="<%= require('../images/gallery/thumb/017.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/018.jpg') %>"><img src="<%= require('../images/gallery/thumb/018.jpg') %>" alt="" /></a>
                <a href="<%= require('../images/gallery/full/019.jpg') %>"><img src="<%= require('../images/gallery/thumb/019.jpg') %>" alt="" /></a>
            </div>
        </div>
        </div>
    </div>
    </section>